In [10]:
import pandas as pd
import numpy as np

## 1. Give an example how you use zip in a loop, what does zip create? How it can be used in MultiIndex in dataframe?

In [5]:
numbers = [1, 2, 3, 4, 5]
fruits = ['apple', 'bananas', 'cherries', 'dates', 'elderberries']

for number, fruit in zip(numbers, fruits):
    print(f'we have {number} {fruit}')

we have 1 apple
we have 2 bananas
we have 3 cherries
we have 4 dates
we have 5 elderberries

In [6]:
list(zip(numbers, fruits))

[(1, 'apple'),
 (2, 'bananas'),
 (3, 'cherries'),
 (4, 'dates'),
 (5, 'elderberries')]

In [12]:
a = pd.DataFrame(np.random.randn(5, 2), index=pd.MultiIndex.from_tuples(list(zip(numbers, fruits))), columns=['A', 'B']);a

                       A         B
1 apple         0.068230 -1.645586
2 bananas       0.732096  1.415416
3 cherries      1.095449  0.742487
4 dates         0.306921  0.365499
5 elderberries  0.355404  0.621835

In [15]:
a.loc[[(1, 'apple')]]

               A         B
1 apple  0.06823 -1.645586